body{
    background-color: white;
}
.reg-page_logo{
    position: none;
    margin: 80px 49% 20px 44% !important;
    width: 140px !important;
}
.container_inside_box{
    position: absolute;
    left: 39%;
    top: 170px !important;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 4px;
}
.reg-title_name{
    text-align: center;
    margin: 0px 0px 20px 0px;
    color: black;
    font-size: 22px;
    letter-spacing: 0.75px;
}
.reg-n-label, .reg-e-label, .reg-p-label{
    display: block;
    font-size: 16px;
    letter-spacing: 0.75px;
    color: black !important;
    font-weight: 600 !important;
    text-align: left !important;
    margin: 0px 0px 6px 4px;
}
.reg-n-input, .reg-e-input, .reg-p-input{
    font-size: 17px;
    padding: 5px 10px;
    border: none;
    margin-bottom: 8px;
    color: #202027;
    border-radius: 3px;
    width: 90%;
    background-color: white;
    border: 1px solid black !important;
}
.reg-n-input:focus, .reg-e-input:focus, .reg-p-input:focus{
box-shadow: -1px -1px 3px 0px #bdccd8, 1px 1px 3px 0px #bdccd8;
}
.role_info{
    font-size: 18px;
    display: inline;
    margin: 8px 12px 8px 0px;
    color: black;
    font-weight: 600;
}
.select_head{
    font-size: 16px;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
}
.reg-submit-btn{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    background-color: #F5B027;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    color: #181818;
    letter-spacing: 0.75px;
    margin-bottom: 12px;
    cursor: pointer;
}
.reg-info_msg{
    text-align: center;
    border-radius: 2px;
    font-size: 20px;
    padding: 6px 12px;
    margin: 380px 0px 0px 0px;
}


@media only screen and (max-width: 600px) {
  .reg-page_logo{
    width: 140px;
    margin: 80px 11% 20px 43% !important;
}
.container_inside_box{
    position: absolute;
    left: 45%;
    top: 90px;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 4px;
}
}
@media only screen and (max-width: 300px) {
    .reg-page_logo{
    width: 140px;
    position: absolute;
    top: 30px;
    left: 45%;
    margin-bottom: 20px;
}
.container_inside_box{
    position: absolute;
    left: 2%;
    top: 90px;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 4px;
}
}
